
body{
    background-color: #bcdae3;
}

#title{
    font-family: "Martian Mono", monospace;
    text-align: center;
    margin-bottom: 0;
}
#subtitle{
    font-family: "Martian Mono", monospace;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
}

#bgChange{
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #272f32;
    margin: 10px;
    min-width: 50px;
    cursor: pointer;
}


#version{
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 10px;
    min-width: 50px;
    cursor: pointer;
    color: white;
    text-shadow: -1px -1px 0 #000, 2px -3px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

td{
    text-align: center;
    padding: 0;
}

.fancy{
    padding: 5px;
    border: 2px dotted gray;
    cursor: pointer;
    user-select: none;
}

.time{
    padding: 5px;
}

th{
    padding: 5px;
}

table, th, td {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    border: 2px solid black;
    border-collapse: collapse;
}
table {
    margin: 0 auto;
    width: 80%;
}

#raspored{
    background-color: #bcdae3;
}

.icon{
    padding-left: 5px;
}

.buttons, .coolBG{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 6px 10px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    margin-top: 10px;
}
.buttons:hover{
    background: rgb(200, 200, 200);
}
.background {
    display: inline-block;
    outline: 0;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 6px 10px;
    text-align:center;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
.colorPick {
    display: inline-block;
    outline: 0;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

#labsPopUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

#popup {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    width: 500px;
    position: relative;
    text-align: center;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.testing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.testing label {
    flex-basis: 150px;
    margin-right: 10px;
    text-align: right;
}

.testing input, .testing select {
    flex-grow: 1;
    text-align: left;
}

#popup h2 {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}